{/* GENERAL CSS */}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  font-family: 'Basis+Grotesque+Pro', sans-serif ;
  font-weight: 300;
  text-decoration: none;
}


{/* NAVBAR CSS */}
.navbar{
  font-size: small;
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 1.5%;
}

.navbar ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarList li{
  margin: 15%;
}

.navbar a{
  text-decoration: none;
  color: black;
}

.navbar .active{
  font-weight: 450;
}

.navbarLogo{
  display: flex;
  justify-content: flex-start;
}

.navbarLogoImg{
  width:50%;
  justify-self: flex-start;
}

.navbarList{
  display: flex;
  justify-content: flex-end;
}


{/* FOOTER */}
.footer{
  font-size: x-small;
  margin-top: 7%;
  margin-bottom: 0%;
}

.footer ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.footer li{
  margin: 5%;
  margin-bottom: 4%;
}

.footer a{
  text-decoration: none;
  color: black;
}


{/* HOME PAGE */}
.home{
  margin-top:17%;
  margin-bottom:17%;
  text-align: center;
}


{/* PROJECTS PAGE */}
.projects{
  margin-top:17%;
  margin-bottom:17%;
  text-align: center;
}


{/* COPYRIGHT PAGE */}
.copyright{
  margin-top:17%;
  margin-bottom:17%;
  text-align: center;
}

{/* GENERAL TERMS PAGE */}
.generalTerms{
  margin-top:17%;
  margin-bottom:17%;
  text-align: center;
}


{/* PERSONAL DATA PAGE */}
.personalData{
  margin-top:17%;
  margin-bottom:17%;
  text-align: center;
}






{/* RESPONSIVENESS */}



